# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv.
venv/
ENV/

# Ignore as this is instance-specific.  Deployed from scripts/env.local.template.sh
web_site/data/

# Gunicorn config file.
# Ignore as this is instance-specific.  Deployed from deploy/gunicorn-*.conf
/gunicorn-orovilledam.conf

# Instance config.
# Ignore, other than template, as these as are instance-specific and could have keys.
web_site/instance/*
!web_site/instance/config-template.py
